@{
    ViewBag.Title = "Noble Index";
    Layout = null;
    bool isLoading = false;

    async Task LoadPeople()
    {
        Console.Write("NOBLE");
        isLoading = true;
        await Task.Delay(5000);
        isLoading = false;
    }
    int NN()
    {
        return 123456;
    }
}


    <div>
        @if (isLoading == true)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <button onclick="@LoadPeople()">Load People</button>
        }


    </div>
